version: "3.9"
services:
  postgres:
    image: postgres:13-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - db:/var/lib/postgresql/data

  adminer:
    image: adminer:4
    restart: always
    ports:
      - 8080:8080

  node:
    build:
      context: .
    depends_on:
      - postgres
      - adminer
    ports:
      - "3000:3000"

volumes:
  db:
